@using Mealventory.Web.Services
@inject AppState AppState
@implements IDisposable

@* Owner 1: "Juan Pablo Ordonez Gomez" has added 85% of the code in this file *@
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mealventory</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        @if (AppState.CurrentUserId.HasValue)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/fridge">
                    Fridge
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/pantry">
                    Pantry
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/shopping-list">
                    Shopping List
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}